<template>
    <div class="wrap">
        <div class="left">
            <div v-for="(item,val) in allData.categoryList" :key="val"  @click="type(val)" :class="ind === val ? 'left-item active' : 'left-item'">
                {{item.categoryName}}
            </div>
            <div class="flex">
                <div class="sumCount">总量:{{total}}</div>
                <div class="sumPrice">总价:{{allPrice}}</div>
                <div class="goShopCar" @click="goShopCar">查看购物车</div>
            </div>
        </div>
        <div class="scroll-y">
            <div class="right">
                <div v-for="(item,val) in allData.categoryList" :key="val" ref="list">
                    <h5 class="title">{{item.categoryName}}</h5> 
                    <div v-for="(ite,ind) in item.spuList" :key="ind" class="shopGoods">
                        <dl>
                            <dt> <img :src="ite.littleImageUrl" class="img"></dt>
                            <dd>
                                <p>{{ite.spuName}}</p>        
                                <p>价格:{{ite.originPrice}}</p>  
                                <p v-if="!ite.count">
                                    <span class="btncount" @click="addCount(ite.spuId,val)">+</span>
                                </p>
                                <p v-else>
                                    <span class="btncount" @click="addCounts('del',ite.spuId,val)">-</span>
                                    <span>{{ite.count}}</span>
                                    <span class="btncount" @click="addCounts('add',ite.spuId,val)">+</span>
                                </p>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="mack" v-if="shopCarBox">
            <div class="shopCar">
                <div class="hideBtn" @click="hideShopBox">隐藏购物车</div>
                <div class="scroll-y">
                    <div class="right">
                        <div v-for="(ite,val) in shopCarData" :key="val" class="shopGoods">
                            <dl>
                                <dt> <img :src="ite.littleImageUrl" class="img"></dt>
                                <dd>
                                    <p>{{ite.spuName}}</p>
                                    <p>价格:{{ite.originPrice}}</p>
                                    <p>
                                        <span class="btncount" @click="addCounts('del',ite.spuId)">-</span>
                                        <span>{{ite.count}}</span>
                                        <span class="btncount" @click="addCounts('add',ite.spuId)">+</span>
                                    </p>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from "axios";
import Shop from "./shop";
import { mapActions,mapState,mapMutations,mapGetters } from "vuex";
import { getData } from "../request/request";
import BScroll from 'better-scroll';
import shop from './shop';

export default {
    name:"index",
    data(){
        return{
            ind:0,
            shopCarBox:false
        }
    },
    mounted(){
        let wrapper = document.querySelector('.scroll-y');
        // let shopCar = document.querySelector('.shopCar');
        let leftItem = document.querySelectorAll('.left-item')
        this.scroll = new BScroll(wrapper,{
            click:true,
            probeType: 2
        })
        // this.scroll = new BScroll(shopCar,{
        //     click:true,
        //     probeType: 2
        // })
    },
    created(){
        getData().then(res=>{
            this.$store.dispatch("getData",JSON.parse(res.data))
        })
    },
    computed:{
        ...mapState({
            allData:(state)=> state.allData,
            total:(state)=>state.total,
            allPrice:(state)=>state.allPrice,
            shopCarData:(state)=>state.shopData,
        }),
        ...mapGetters([
            'shopData'
        ])
    },
    
    methods:{
        addCount(smallind,bidInd){
            this.$store.dispatch("changeCount",{smallind,bidInd})
        },
        addCounts(type,smallind,bidInd){
            this.$store.dispatch("changeCounts",{type,smallind,bidInd})
        },
        ...mapActions([
            'changeCount',
            "changeCounts"
        ]),
        type(val){
            this.ind = val;
            var list = this.$refs.list;
            var el = list[val];
            this.scroll.scrollToElement(el);

        },
        goShopCar(){
            this.shopCarBox = !this.shopCarBox;
        },
        hideShopBox(){
            this.shopCarBox = !this.shopCarBox;
        }
    }
}
</script>

<style>

.wrap{
    width: 100%;
    height: 100%;
    display: flex;
}

.left{
    flex: 2;
    flex-shrink: 0;
}

.left-item{
    width: 100%;
    height:44px;
    line-height: 44px;
    text-align: center;
    border-bottom: solid 1px #ccc;
}

.active{
    background: #f90;
}

.flex{
    display: flex;
    flex: 3;
    flex-direction: column;
    position: fixed;
    left: 0;
    bottom: 0;
}

.sumCount{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: red;
    color: #fff;
}

.sumPrice{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: red;
    color: #fff;
}

.goShopCar{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: red;
    color: #fff;
}

.scroll-y{
    flex: 8;
    width: 100%;
    height: 100%;
}

.right{
    width: 100%;
}

.title{
    font-size: 20px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin-left: 10px;
}

.shopGoods{
    width: 100%;
    height: 120px;
    display: flex;
    border-bottom: solid 1px #ccc;
    padding: 10px;
    box-sizing: border-box;
}

dl{
    width: 100%;
    display: flex;
}

dt{
    width: 30%;
}

.img{
    width: 100%;
    height: 100px;
}

dd{
    margin-left: 10px;
}

dd>p{
    margin-top: 5px;
}

.btncount{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: red;
    text-align: center;
}

.mack{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    position: absolute;
    bottom: 0;
    left: 0;
}

.shopCar{
    width: 100%;
    height: calc(100% - 100px);
    background:#fff;
    position: absolute;
    bottom: 0;
    left: 0;
}

.hideBtn{
    position: absolute;
    top: 0;
    right: 0;
}
</style>
