<template>
    <div class="scroll-y">
        <div class="right">
            <div v-for="(ite,val) in shopData" :key="val" class="shopGoods">
                <dl>
                    <dt> <img :src="ite.littleImageUrl" class="img"></dt>
                    <dd>
                        <p>{{ite.spuName}}</p>
                        <p>价格:{{ite.originPrice}}</p>
                        <p>
                            <span class="btncount" @click="addCounts('del',ite.spuId)">-</span>
                            <span>{{ite.count}}</span>
                            <span class="btncount" @click="addCounts('add',ite.spuId)">+</span>
                        </p>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</template>

<script>
import Shop from "./shop";
import { mapActions,mapState,mapMutations,mapGetters } from "vuex";
import BScroll from 'better-scroll';
export default {
    name:"shopCar",
    computed:{
        ...mapState({
            shopData:(state)=>state.shopData,
            total:(state)=>state.total,
            allPrice:(state)=>state.allPrice,
        }),
    },
    mounted(){
        let wrapper = document.querySelector('.scroll-y');
        let leftItem = document.querySelectorAll('.left-item')
        this.scroll = new BScroll(wrapper,{
            click:true,
            probeType: 2
        })
    },
    methods:{
        addCounts(type,smallind,bidInd){
            this.$store.dispatch("changeCounts",{type,smallind,bidInd})
        },
        ...mapActions([
            'changeCount',
            "changeCounts"
        ]),
    }
}
</script>

<style>

</style>
